@inherits LayoutComponentBase
<div class="page">
    <Navbar/>
    <main class="bg-white">
        <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
