@page "/signup"
@inject NavigationManager NavigationManager

<div class="w-full h-full mt-20 flex items-center justify-center">
    <div class="w-1/2 h-1/2 bg-slate-50 shadow-sm">
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm flex items-center justify-center flex-col">
                <Logo/>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crear una cuenta</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <EditForm  Model="@FormData"class="space-y-6" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator/>
                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                        <div class="mt-2">
                            <InputText 
                            @bind-Value="FormData.Name"
                            id="name" name="name" autocomplete="name" 
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                            <ValidationMessage For="() => FormData.Name"/>
                        </div>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                        <div class="mt-2">
                            <InputText 
                            @bind-Value="FormData.EmailAddress"
                            id="email" name="email" autocomplete="email" 
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                            <ValidationMessage For="() => FormData.EmailAddress"/>
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password"
                                class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                        </div>
                        <div class="mt-2">
                            <InputText 
                            @bind-Value="FormData.Password"
                            id="password" name="password" type="password" autocomplete="current-password"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            <ValidationMessage For="() => FormData.Password"/>
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                            class="flex w-full justify-center rounded-md bg-yellow-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600">Sign
                            in</button>
                    </div>
                </EditForm>                

                <p class="mt-10 text-center text-sm text-gray-500">
                    Ya tienes cuenta?
                    <a href="login" class="font-semibold leading-6 text-yellow-500 hover:text-indigo-500">Iniciar sesión</a>
                </p>
            </div>
        </div>
    </div>

</div>

@code {
    public class SignupForm {
        [Required(ErrorMessage = "Se requiere el nombre")] 
        public string Name {get; set;} = ""; 

        [Required(ErrorMessage = "Se requiere el email")] 
        [EmailAddress(ErrorMessage = "Inserte un email correct")]
        public string EmailAddress {get; set; } = ""; 

        [Required(ErrorMessage = "Se requiere la contraseña")] 
        public string Password {get; set;} = ""; 
    }

    private SignupForm FormData = new();


    private void OnSubmit(EditContext editContext) {
        NavigationManager.NavigateTo("/dashboard" , false);
    }
}
